@tailwind base;
@tailwind components;
@tailwind utilities;
 
*{
    font-family: "ClashDisplay-Medium" ;
    color: white;
}

@font-face {
    font-family: 'ClashDisplay-Medium';
    src: url('/font/ClashDisplay-Medium.ttf');


}
@font-face {
    font-family: 'ClashDisplay-Regular';
    src: url('/font/ClashDisplay-Regular.ttf');


}
@font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('/font/ClashDisplay-Semibold.ttf');


}